html{
    scrollbar-gutter: stable;
}

#wpcontent{
    min-height: 150vh;
    background: #fef9fe;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='519.265' viewBox='0 0 1920 519.265'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='0.5' y1='1' x2='0.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23d204b0' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23d204b0' stop-opacity='0.149'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='Path_363' data-name='Path 363' d='M2062.5,442.3H142.5V291.62s246.662-216.183,722.426-153.5S1495.961,13.76,1729.576-49.051s332.923,0,332.923,0Z' transform='translate(-142.499 76.966)' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    padding-left: 0 !important;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

#wpcontent *{
    box-sizing: border-box;
}
#wpcontent p{
    font-size: inherit;
    color: rgb(51 65 85);
}
.wrd-section{
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: left;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(254 206 246 / 0.3), 0 4px 6px -4px rgb(254 206 246 / 0.3);
    transition: box-shadow 0.3s ease;
}
@media (min-width: 992px){
    .wrd-section{
        padding: 2rem;
   }
}
.wrd-section__clear{
    background: transparent;
    box-shadow: none;
}
button.wrd-section{
    border: none;
    cursor: pointer;
}
button.wrd-section:hover{
    box-shadow: 0 25px 50px -12px rgb(254 206 246 / 0.6);
}
.wrd-section h2,
.wrd-h2{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem 
}
.wrd-section h3,
.wrd-h3{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: #354955;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem 
}
.wrd-section p{
    max-width: 60ch;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
}
.wrd-section p:last-child{
    margin-bottom: 0px;
}
.wrd-section ol{
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: popbotListCounter;
}
.wrd-section ol li{
    display: flex;
    margin-bottom: 1.5rem;
    line-height: 1.75;
}
.wrd-section ol li::before{
    counter-increment: popbotListCounter;
    content: counter(popbotListCounter);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    color: #fff;
    font-weight: 500;
    font-family: inherit;
    background: #8E0076;
    margin-top: 0.25rem;
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    border-radius: 100vw;
}
.wrd-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    min-width: 5ch;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    background: white;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 10px 15px -3px rgb(254 206 246 / 0.3), 0 4px 6px -4px rgb(254 206 246 / 0.3);
    transition: box-shadow 0.3s ease;
}
.wrd-button:hover{
    box-shadow: 0 25px 50px -12px rgb(254 206 246 / 0.6);
}
.wrd-button.wrd-premium{
    background: #64024C;
}
.wrd-button.wrd-premium wrd-icon{
    --fill: #C60295 !important;
    --text: #fff;
}
.wrd-fileupload{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border: 2px #FECEF6 dashed;
    border-radius: 0.5rem;
    transition: border-color 0.2s ease;
}
.wrd-fileupload input{
    color: #70005D;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}
.wrd-fileupload input::file-selector-button{
    background: #D204B0;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}
.wrd-fileupload:hover, .wrd-fileupload:focus{
    border-color: #F15AD7;
}
.wrd-empty{
    background: rgb(255,239,252);
    background: linear-gradient(135deg, rgba(255,239,252,1) 0%, rgba(254,206,246,1) 100%);
    border-radius: 0.5rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2rem;
}
.wrd-empty svg{
    width: 5rem;
    height: auto;
}
.wrd-error{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #fee2e2;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    color: #b91c1c;
}
.wrd-success-pop{
    position: relative;
}
.wrd-success-pop::before{
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: #10b981;
    border: 0.25rem #fff solid;
    border-radius: 10rem;
}
.wrd-success-pop::after{
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    transform: translate(50%, -50%) scale(0);
    animation: wrd-success-pop 1.5s ease;
    background: #10b981;
    border-radius: 10rem;
}
@keyframes wrd-success-pop{
    100%{
        transform: translate(50%, -50%) scale(1);
        opacity: 0;
   }
}
.wrd-template-link{
    display: block;
    text-decoration: none;
}
.wrd-template-link:hover wrd-part-preview{
    --bg: #FECEF6;
    --text: #AF0092;
}
.wrd-3col{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}
.wrd-4col{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}
.wrd-mt{
    margin-top: 2rem;
}
.wrd-mb{
    margin-bottom: 2rem;
}
.wrd-p{
    padding: 1.5rem;
}
.wrd-row {
    --gutter: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * var(--gutter));
    margin-left: calc(-0.5 * var(--gutter));
}
.wrd-row + .wrd-section{
    margin-top: 0px;
}
.wrd-row > div > .wrd-section{
    height: 100%;
}
.wrd-row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter) * 0.5);
    padding-left: calc(var(--gutter) * 0.5);
    margin-top: var(--gutter);
}
.wrd-col {
    flex: 1 0 0%;
}
.wrd-col-auto {
    flex: 0 0 auto;
    width: auto;
}
.wrd-col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}
.wrd-col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.wrd-col-3 {
    flex: 0 0 auto;
    width: 25%;
}
.wrd-col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.wrd-col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}
.wrd-col-6 {
    flex: 0 0 auto;
    width: 50%;
}
.wrd-col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
.wrd-col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.wrd-col-9 {
    flex: 0 0 auto;
    width: 75%;
}
.wrd-col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}
.wrd-col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}
.wrd-col-12 {
    flex: 0 0 auto;
    width: 100%;
}
@media (min-width: 576px) {
    .wrd-col-sm {
        flex: 1 0 0%;
   }
    .wrd-col-sm-auto {
        flex: 0 0 auto;
        width: auto;
   }
    .wrd-col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
   }
    .wrd-col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
   }
    .wrd-col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
   }
    .wrd-col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
   }
    .wrd-col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
   }
    .wrd-col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
   }
    .wrd-col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
   }
    .wrd-col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
   }
    .wrd-col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
   }
    .wrd-col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
   }
    .wrd-col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
   }
    .wrd-col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
   }
    .offset-sm-0 {
        margin-left: 0;
   }
}
@media (min-width: 768px) {
    .wrd-col-md {
        flex: 1 0 0%;
   }
    .wrd-col-md-auto {
        flex: 0 0 auto;
        width: auto;
   }
    .wrd-col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
   }
    .wrd-col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
   }
    .wrd-col-md-3 {
        flex: 0 0 auto;
        width: 25%;
   }
    .wrd-col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
   }
    .wrd-col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
   }
    .wrd-col-md-6 {
        flex: 0 0 auto;
        width: 50%;
   }
    .wrd-col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
   }
    .wrd-col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
   }
    .wrd-col-md-9 {
        flex: 0 0 auto;
        width: 75%;
   }
    .wrd-col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
   }
    .wrd-col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
   }
    .wrd-col-md-12 {
        flex: 0 0 auto;
        width: 100%;
   }
}
@media (min-width: 992px) {
    .wrd-col-lg {
        flex: 1 0 0%;
   }
    .wrd-col-lg-auto {
        flex: 0 0 auto;
        width: auto;
   }
    .wrd-col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
   }
    .wrd-col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
   }
    .wrd-col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
   }
    .wrd-col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
   }
    .wrd-col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
   }
    .wrd-col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
   }
    .wrd-col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
   }
    .wrd-col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
   }
    .wrd-col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
   }
    .wrd-col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
   }
    .wrd-col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
   }
    .wrd-col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
   }
}
@media (min-width: 1200px) {
    .wrd-col-xl {
        flex: 1 0 0%;
   }
    .wrd-col-xl-auto {
        flex: 0 0 auto;
        width: auto;
   }
    .wrd-col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
   }
    .wrd-col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
   }
    .wrd-col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
   }
    .wrd-col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
   }
    .wrd-col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
   }
    .wrd-col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
   }
    .wrd-col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
   }
    .wrd-col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
   }
    .wrd-col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
   }
    .wrd-col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
   }
    .wrd-col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
   }
    .wrd-col-xl-12 {
        flex: 0 0 auto;
        width: 100%;
   }
}
@media (min-width: 1400px) {
    .wrd-col-xxl {
        flex: 1 0 0%;
   }
    .wrd-col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
   }
    .wrd-col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
   }
    .wrd-col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
   }
    .wrd-col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
   }
    .wrd-col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
   }
    .wrd-col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
   }
    .wrd-col-xxl-6 {
        flex: 0 0 auto;
        width: 50%;
   }
    .wrd-col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
   }
    .wrd-col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
   }
    .wrd-col-xxl-9 {
        flex: 0 0 auto;
        width: 75%;
   }
    .wrd-col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
   }
    .wrd-col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
   }
    .wrd-col-xxl-12 {
        flex: 0 0 auto;
        width: 100%;
   }
}
/* Pages */
#hero{
    padding-top: 7rem;
    padding-bottom: 4rem;
    color: white;
    background-color: #8E0076;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0 10px 15px -3px rgb(254 206 246 / 0.3), 0 4px 6px -4px rgb(254 206 246 / 0.3);
}
#hero h1{
    margin: 0;
    color: inherit;
    font-size: 4rem;
    font-weight: 600;
}
#hero p{
    margin: 0;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 400;
}