.pb-chatbox {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 999;

	padding-bottom: 3rem;
	padding-right: 3rem;

	width: 50ch;
	max-width: calc(100vw - 7.5rem);

	transform-origin: bottom right;
}

.popbot-inline .pb-chatbox {
	position: relative;
	bottom: 0;
	right: 0;
}

.pb-chatbox-box {
	background: #fff;
	padding: min(4vw, 3rem);
	min-height: 5rem;
	max-height: 40vh;
	overflow-y: auto;
	border-radius: 0.4rem;
	box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.pb-chatbox-box>*:first-child {
	margin-top: 0px !important;
}

.pb-chatbox-box>*:last-child {
	margin-bottom: 0px !important;
}

.pb-chatbox-close {
	display: block;
	cursor: pointer;

	font-size: 2rem;
	font-weight: 900;

	position: absolute;
	top: 0;
	right: 0;
}

.pb-chatbox-sender {
	position: absolute;
	bottom: 0px;
	right: 0px;

	display: block;

	width: 8rem;
	height: 8rem;

	object-fit: cover;

	border-radius: 100%;
	border: none;
}

.entering .pb-chatbox {
	animation: pb-chatbox-enter 0.5s cubic-bezier(0.17, 1.56, 0.68, 1.01) forwards;

}

.leaving .pb-chatbox {
	animation: pb-chatbox-exit 0.5s ease-out forwards;
}

@keyframes pb-chatbox-enter {
	from {
		transform: scale(0.4) rotate(-20deg);
		opacity: 0;
	}
}

@keyframes pb-chatbox-exit {
	to {
		transform: scale(0);
		opacity: 0;
	}
}
